/** Polices personnalisée */
@font-face {
    font-family: CenturyGothic;
    src: url(CenturyGothicRegulat.ttf);
}

*{
    font-family: CenturyGothic, Arial, Helvetica, sans-serif !important;
}

.rtp-header-slogan{
    color: #5a2069 !important;
}
div.page address.mb0{
    background: #5a2069;
    color:#fff;
    font: 14px bold CenturyGothic;
    padding: 1.5em 1em;
    width: 75%;
    float: right;
}
address.mb0 span[itemprop='name']{
    font-weight: bold;
    font-size: 16px;
}

.page h2{
    font-weight: bold;
    font-size: 16px!important;
    color:#5a2069 !important;
}

.table.table-condensed{
    border: 1px solid #5a2069!important;
}    
.table.table-condensed thead {
    background: #5a2069;
    color: white;
}    

div.footer{
    /*padding-top:1em;
    padding-bottom: 1em;
    border-left: 2px solid #5a2069;*/
    color: #5a2069!important;
}
div.footer div.text-left ul.list-unstyled{
    margin:0;padding:0;
}
div.footer div.text-center ul.list-inline li{
    display:block;
    padding-left: 5px;
    font: 12px bold CenturyGothic;
}